
/* //////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// Defaults /////////////////////////////// */
.App {
  text-align: center;
  background: rgb(54, 61, 61);
  height: 100vh; width: 100vw;
}
a {
  all: unset;
  cursor: pointer;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
}
/* /////////////////////////////// Defaults /////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// Animations ////////////////////////////// */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .08s;
}
@keyframes fadeInOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* ////////////////////////////// Animations ////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// Nav /////////////////////////////// */
.Nav {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: rgb(33, 53, 53);
  z-index: 100;
}
  .Nav .search {
    position: absolute;
    left: 0;
    height: 100%;
    display: flex; flex-flow: row;
    align-items: center;
    justify-items: center;
    margin: 0 20px;
  }
    .Nav .search .searchbar {}
  .Nav .logo {
    all: unset;
    position: relative;
    display: flex; flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(60, 103, 122, 0.712);
    font-weight: 800;
  }
    .Nav .logo .left, .Nav .logo .right {
      font-size: 30px;
    }
    .Nav .logo .right {
      filter: blur(1px);
    }
  .Nav .projects-profiles-links {
    position: absolute;
    right: 0;
    /* margin: 15px 10px; */
    display: flex; flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
    .Nav .projects-profiles-links a {
      display: flex; flex-flow: row;
      align-items: center;
      height: 30px;
      margin: 0 10px;
      padding: 0 10px;
      font-weight: 800;
      line-height: 0;
      border-radius: 5px;
      background: rgba(230, 215, 225, 0.336);
      box-shadow: rgba(0, 0, 0, 0.466) .5em -.2em 2em;
      /* box-shadow: -.2em 0 1em rgb(44, 48, 56); */
    }
    .Nav .projects-profiles-links .pplDropDown-container {
      position: absolute;
      right: 0;
    }
      .Nav .projects-profiles-links .pplDropDown-container .pplDropDown-card {
        
        /* bottom: -90px; */
        margin: 5px 10px 0 0;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgba(130, 126, 134, 1);
        box-shadow: rgba(0, 0, 0, 0.466) .1em -.1em .5em;
        cursor: pointer;
      }
    .Nav .projects-profiles-links .projects {
      
    }
    .Nav .projects-profiles-links .profile-login {

    }
/* /////////////////////////////// Nav /////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// Main /////////////////////////////// */
.Main, .SidebarLeft, .SidebarRight {
  position: fixed;
  top: 50px; bottom: 0;
  height: 100%;
  z-index: 0;
}

.Main {
  position: fixed;
  left: 250px; right: 250px;
  z-index: 10000;
  min-width: 600px;
}

.Main div {
  position: relative;
}
.SidebarLeft, .SidebarRight {
  width: 100%;
  max-width: 250px; min-width: 0;
  background: rgb(128, 145, 145);
}
/* /////////////////////////////// Main /////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
  
    /* ________________________________ InstrumentList (below) ________________________________ */
    .ProjectMain .InstrumentList {}
      /* ______________________________ InstrumentContainer (below) ______________________________ */
      .ProjectMain .InstrumentList .InstrumentContainer {
        display: flex;
        flex-flow: row;
        margin: 5px 20px;
        background: rgb(76, 97, 100);
        height: 200px;
      }
        /* ________________________________ InstrumentHead (below) __________________________________ */
        .ProjectMain .InstrumentList .InstrumentContainer .InstrumentHead {
          width: 10%; min-width: 100px;
          border-right: 5px solid grey;
          background: rgb(79, 91, 100);
        }
        /* ________________________________ InstrumentCanvas (below) ________________________________ */
        .InstrumentCanvas {
          position: relative;
          width: 1100px; height: 100%;
          background: rgb(79, 99, 112);
          overflow-y: scroll;
          scrollbar-width: none;
        }
        .InstrumentCanvas::-webkit-scrollbar { /* WebKit */
          width: 0; height: 0;
        }
          .InstrumentCanvas .canvas-container {
            position: relative;
            width: 100%; height: 100%;
            /* height: 100%; */
            /* bottom: 0; */
            margin: 0;
          }
            .InstrumentCanvas .canvas-container .canvas {
              margin: 0;
              left: 0;
              width: 100%;
            }
        /* ________________________________ InstrumentCanvas (above) ________________________________ */
        /* ________________________________ InstrumentHead (above) __________________________________ */
      /* ______________________________ InstrumentContainer (above) ______________________________ */
    /* ________________________________ InstrumentList (above) ________________________________ */

/* /////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// UserView ////////////////////////////////// */
.UserView {
  position: relative;
  display: flex; flex-flow: row;
  width: 90vw; height: 100%;
  min-width: 700px;
  /* margin-left: -200px; */
  left: -200px;
  /* padding-right: 400px; */
  background: rgb(52, 60, 77);
}
  .UserView .right-side {
    position: relative;
    display: flex; flex-flow: column;
    align-items: center;
    width: 300px; height: 100%;
    margin: 0;
    background: rgba(52, 85, 69, 0.267);
  }
    .UserView .right-side .profile-picture {
      width: 280px; height: 280px;
      margin: 10px 0;
      border: .5px solid black;
    }
    .UserView .right-side .name  {
      display: flex; flex-flow: row;
      justify-content: center;
      margin: 10px 0;
    }
      .UserView .right-side .name .first-name, .UserView .right-side .name .last-name {
        margin: 0 3px;
        font-size: 40px;
      }
      .UserView .right-side .name .first-name {}
      .UserView .right-side .name .last-name {}
    .UserView .right-side .username {
      color: rgb(190, 190, 190);
    }
  .UserView .right-side .contact-info {}
    .UserView .right-side .contact-info .phone {}
    .UserView .right-side .contact-info .email {}
    .UserView .right-side .contact-info .address {}
  .UserView .project-list {
    position: relative;
    display: flex; flex-flow: column;
    justify-content: space-between;
    width: 100%; height: 100%;
    margin: 5px;
    border-radius: 5px;
    background: rgba(65, 70, 82, 0.87);
    box-shadow: -.2em 0 1em rgb(44, 48, 56);
  }
    .UserView .project-list .project-info {
      display:flex; flex-flow:row;
      width: 99%; height: 50px;
      margin: 15px 1%;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      background: rgba(48, 52, 61, 0.87);
      box-shadow: -.2em 0 0.5em rgb(25, 27, 32);
    }
      .UserView .project-list .project-info .project-name {
        margin: 10px;
        padding: 5px 20px;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 800;
        text-shadow: rgb(32, 32, 31) -3px -1px 5px;
        color: rgb(198, 199, 191);
        box-shadow: -.2em 0 0.5em rgb(25, 27, 32);
      }
/* /////////////////////////////////// UserView ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////// SidebarLeft /////////////////////////// */
.SidebarLeft {
  left: 0;
}
/* //////////////////////////// SidebarLeft /////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// */
/* //////////////////////////// SidebarRight /////////////////////////// */
.SidebarRight {
  right: 0;
  background: rgb(54, 61, 61);
}
/* //////////////////////////// SidebarRight /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// Center ////////////////////////////// */
.Center {
  position: relative;
  top: 50px;
  width: 100%; height: 100%;
  background: rgb(54, 61, 61);
}
  .Center .Content {}
    .Center .Content .About {
      width: 100%; height: 200px;
      background: burlywood;
    }
/* ////////////////////////////// Center ////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */