
/* //////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// Defaults /////////////////////////////// */
.App {
  text-align: center;
  background: rgb(54, 61, 61);
  height: 100vh; width: 100vw;
}
a {
  all: unset;
  cursor: pointer;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
}
/* /////////////////////////////// Defaults /////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// Animations ////////////////////////////// */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .08s;
}
@keyframes fadeInOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* ////////////////////////////// Animations ////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// Nav /////////////////////////////// */
.Nav {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: rgb(33, 53, 53);
  color: aliceblue;
  z-index: 100;
}
  .Nav .search {
    position: absolute;
    left: 0;
    height: 100%;
    display: flex; flex-flow: row;
    align-items: center;
    justify-items: center;
    margin: 0 20px;
  }
    .Nav .search .searchbar {}
  .Nav .logo {
    all: unset;
    position: relative;
    display: flex; flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(60, 103, 122, 0.712);
    font-weight: 800;
  }
    .Nav .logo .left, .Nav .logo .right {
      font-size: 30px;
    }
    .Nav .logo .right {
      filter: blur(1px);
    }
  .Nav .projects-profiles-links {
    position: absolute;
    right: 0;
    /* margin: 15px 10px; */
    display: flex; flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
    .Nav .projects-profiles-links a {
      display: flex; flex-flow: row;
      align-items: center;
      height: 30px;
      margin: 0 10px;
      padding: 0 10px;
      font-weight: 800;
      line-height: 0;
      border-radius: 5px;
      background: rgba(230, 215, 225, 0.336);
      box-shadow: rgba(0, 0, 0, 0.466) .5em -.2em 2em;
      /* box-shadow: -.2em 0 1em rgb(44, 48, 56); */
    }
    .Nav .projects-profiles-links .pplDropDown-container {
      position: absolute;
      right: 0;
    }
      .Nav .projects-profiles-links .pplDropDown-container .pplDropDown-card {
        margin: 5px 10px 0 0;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgba(130, 126, 134, 1);
        box-shadow: rgba(0, 0, 0, 0.466) .1em -.1em .5em;
        cursor: pointer;
      }
    .Nav .projects-profiles-links .projects {}
    .Nav .projects-profiles-links .profile-login {}
/* /////////////////////////////// Nav /////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// Main /////////////////////////////// */
.Main, .SidebarLeft, .SidebarRight {
  position: fixed;
  top: 50px; bottom: 0;
  height: 100%;
  z-index: 0;
}

.Main {
  position: fixed;
  left: 250px; right: 250px;
  z-index: 10000;
  min-width: 600px;
}
  .Main div {
    /* position: relative; */
  }
/* /////////////////////////////// Main /////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// Sidebars //////////////////////////// */
.SidebarLeft, .SidebarRight {
  width: 100%;
  max-width: 250px; min-width: 0;
  background: rgb(128, 145, 145);
}
/* ///////////////////////////// Sidebars //////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////// SidebarLeft /////////////////////////// */
.SidebarLeft {
  left: 0;
}
/* //////////////////////////// SidebarLeft /////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// */
/* //////////////////////////// SidebarRight /////////////////////////// */
.SidebarRight {
  right: 0;
  background: rgb(54, 61, 61);
}
/* //////////////////////////// SidebarRight /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */