[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djongo = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pillow = "*"
django-rest-auth = {editable = true,version = "*"}

[requires]
python_version = "3.7"
