[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
v = {editable = true,version = "*"}

[packages]
djongo = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pillow = "*"
django-rest-auth = {editable = true,version = "*"}
six = "*"
gunicorn = "*"
django = "==3.0"

[requires]
python_version = "3.7"
