.ProjectNav {
    display: flex; flex-flow: column;
    background: rgb(160, 160, 147);
    box-shadow: 0 0 .3em rgb(44, 48, 56);
    border-radius: 5px;
}
    .ProjectNav .title-container {
        display: flex;flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 80%; height: 20px;
        margin: 1px auto;
        padding: 5px 0 10px 0;
        border-bottom: 1px dotted black;
    }
        /* .ProjectNav .title-container input{
            all: unset;
        } */
        .ProjectNav .title-container .title {
            font-size: 20px;
            font-weight: 900;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.425);
            margin: 0;
            cursor: pointer;
            white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        }
        .ProjectNav .title-container .title-edit {
            all: unset;
            width: 100%;
            /* margin: -3px 0px 0px 0px; */
            font-size: 20px;
            font-weight: 700;
            color: rgb(9, 9, 87);
            /* background: rgba(85, 85, 78, 0.454); */
            /* text-shadow: rgb(163, 163, 75) 1em 1em 20px; */
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.466);
        }
        .ProjectNav .title-container .title-edit-submit {
            all: unset;
        }
    .ProjectNav .sub-nav {
        display: flex; flex-flow: row;
        align-items: center;
        height: 50px;
    }
        .ProjectNav .sub-nav .creator {
            position: relative;
            left: 0;
            width: 50%;
            
            /* text */
            text-align: left;
            font-weight: 600;
            color: black;
            white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        }
        .ProjectNav .sub-nav .creator a {
            margin-left: 25px;
        }
        .ProjectNav .sub-nav .collaborate-history-container {
            display: flex;
            margin-left: -100px;
            flex-flow: row;
            cursor: pointer;
            z-index: 1;
        }
            .ProjectNav .sub-nav .collaborate-history-container .collab-link {
                margin: 0 10px;
            }
            .ProjectNav .sub-nav .collaborate-history-container .history-link {
                margin: 0 10px;
            }
        .ProjectNav .sub-nav .save-edit-delete-container {
            position: absolute;
            right: 0;
            width: 20px;
            font-weight: 800;
            cursor: pointer;
        }
            .ProjectNav .sub-nav .save-edit-delete-container .s-e-d-dropdown {
                position: absolute;
                display: flex; flex-flow: column;
                justify-content: center; align-items: center;
                top: 22px; right: -2px;
                width: 100px; height: 100px;
                border-radius: 5px;
                box-shadow: .2em 1px .2em rgb(44, 48, 56);
                background: rgb(39, 40, 48);
                z-index: 1;
            }
            .ProjectNav .sub-nav .save-edit-delete-container .s-e-d-dropdown div {
                width: 100%; height: 20px;
                padding: 5px;
            }